<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>shop-4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet><!-- 서버단에서 돌아가는 클래스파일 개념 -->
  	<servlet-name>shop-4</servlet-name>
  	<servlet-class>
  	org.springframework.web.servlet.DispatcherServlet
  	</servlet-class><!-- /WEB-INF/shop-4-servlet.xml -->
  </servlet>
  <servlet-mapping>
  		<servlet-name>shop-4</servlet-name>
  		<url-pattern>*.shop</url-pattern>
  </servlet-mapping>
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:common.xml</param-value>
  </context-param>
  <listener>
  	<listener-class><!-- /src/common.xml -->
  	org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>
  	org.springframework.web.filter.CharacterEncodingFilter
  	</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>euc-kr</param-value>
  	</init-param>
  	<init-param>
  		<param-name>forceEncoding</param-name>
  		<param-value>true</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
 <!-- sitemesh 사용 설정 -->
  <filter>
  	<filter-name>sitemesh</filter-name>
  	<filter-class><!-- /WEB-INF/sitemesh.xml -->
  	com.opensymphony.sitemesh.webapp.SiteMeshFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>sitemesh</filter-name>
  	<url-pattern>*.shop</url-pattern>
  </filter-mapping>
</web-app>