<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org.dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.BoardMapper">
	<select id="count" parameterType="map" resultType="int">
		select count(*) from board
		<if test="column != null and find != null">
			where ${column} like '%${find}%'
		</if>
	</select>
	<select id="list" parameterType="map" resultType="Board">
		select * from(select rownum rnum, num, name, subject, content, file1 fileUrl, regdate, ref, reflevel, refstep, pass, readcnt from
		(select * from board 
		<if test="column != null and find != null">
			where ${column} like '%${find}%'
		</if>
		order by ref desc, refstep))
		where rnum >= #{startrow} and rnum &lt;=#{endrow}		
	</select>
</mapper>